.benefits{
  position: relative;
  &__wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // flex-direction: column;
    height: 70vh;
  }
  &__text{
    background: $gangajal-primary;
    width:80rem;
    padding: 5rem;
    border-bottom-left-radius: 100px;
    &_head{
      text-align: right;
       font-size: 3rem;
       text-transform: uppercase;
       margin-bottom: 2rem;
       color: $color-grey;
       font-weight: bold;
    }
    &_content{
      text-align: right;
       font-size: 1.5rem;
       margin-bottom: 3rem;
       color: $color-black;
       line-height: 1.5;
    }
  }
  &__img{
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    height: 50%;
  }
  &__svg{
    position: absolute;
    left:17%;
    & img{
      height: 7rem;
      width: 7rem;
      padding: .5rem;
      border-radius: 50%;
      border: 5px solid $color-grey-dark-3;
    }
    &1{
       top: 22%;
       left: 16.5%;
    }
    &2{
       top: 31.5%;
       left:16.7%;
    }
    &3{
       top:45%;
       left:16.7%;
    }
    &4{
       top: 59.5%;
       left:16.7%;
    }
    &5{
       top: 69%;
       left:16.7%;
    }
  }
}
