@keyframes foaded {
   0%{
     display: flex;
     opacity: 1;
     visibility: visible;
   }
   100%{
     display: flex;
     opacity: 0;
     visibility:hidden;
   }
}


@keyframes change1   {
     0%{
       opacity: 0;
       transform: scale(0);
     }
     100%{
       opacity: 1;
       transform: scale(1);
     }
}

@keyframes change2   {
  0%{
    opacity: 0;
    transform: scale(0);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes change2   {
  0%{
    opacity: 0;
    transform: scale(0);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes change3   {
  0%{
    opacity: 0;
    transform: scale(0);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes change4   {
  0%{
    opacity: 0;
    transform: scale(0);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes change5   {
  0%{
    opacity: 0;
    transform: scale(0);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
