&0{
  background: rgb(34,193,195);
  background: url("../../../assets/images/gradient.jpg");
  background-position: center;
  background-size: cover;
  color: $color-white;
  animation: page0 1s linear;

}
