&0{
  background: rgb(34,193,195);
  background: url("../../../assets/images/water2.jpg");
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,187,233,1) 100%);
  background-position: center;
  background-size: cover;
  color: $color-black;
  animation: page0 1s linear;
  position:relative;
  &__bottle{
    position: absolute;
    bottom: 0%;
    left:50%;
    transform:
    translateX(-50%)
    // scale(1.2)
    // rotate(90deg)
    ;
  }
}
