&1{
  background-position: center;
  background-size: cover;
  color: $color-white;
  animation: page1 1s linear;
  background: rgb(34,193,195);
  background: url("../../../assets/images/water.jpg");
}
