&1{
  background-position: center;
  background-size: cover;
  color: $color-white;
  animation: page1 1s linear;
  background: rgb(34,193,195);
background: linear-gradient(to bottom right, rgba(34,193,195,0.7402311266303396) 33%, rgba(34,193,195,0.2752451322325805) 66%);
}
