&1{
  color: $color-white;
  animation: page1 1s linear;
  background: url("../../../assets/images/water2.jpg");
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,187,233,1) 100%);
  // background: $color-white;
  background-position: center;
  background-size: cover;
  color: $color-black;
}
