@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');
:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, .4);
  --btn-color: hsl(210, 80%, 42%);
  --bg-color: #141218;
}


.nav{
  position: fixed;
  z-index: 10000;
  bottom:8%;
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  &__item{
    margin: 1rem 0;
    overflow:hidden;
    text-decoration: none;
    transition: all .3s;
    // background-color: var(--btn-color);
    padding: 1rem;
    font-size: 1.5rem;
    font-family: "Source Code Pro" , sans-serif;
    color: $color-grey-dark-3;
    font-weight: 900;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    &:hover{
      box-shadow: 0 3rem 1rem -2rem rgba($color-black,1);
      transform: translateY(-3px);
    }
    &:focus{
      box-shadow: 0 0 1rem rgba($color-black,.3);
      transform: translateY(-1px);
    }
  }
}









