.nav{
  position: fixed;
  top:6rem;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  left:50%;
  z-index: 1000;
  & i{
    font-size: 1rem;
    &:hover{
      // box-shadow: 0 0 2rem rgba($color-black,.5);
      transform: none;
    }
    &:focus{
      // box-shadow: 0 0 2rem rgba($color-black,.5);
      transform: none;
    }
  }
  &__item{
    text-decoration: none;
    font-size: 1.8rem;
    margin: 0 1rem;
    padding: 1rem 2.5rem;
    color: $color-exim-blue;
    transition: all .3s;
    &:hover{
      // box-shadow: 0 0 2rem rgba($color-black,.5);
      transform: translateY(-1.5px);
    }
    &:focus{
      // box-shadow: 0 0 2rem rgba($color-black,.5);
      transform: translateY(-0.5px);
    }
  }
  &__home{
     border: 1px solid $color-exim-blue;
     border-radius: 25px;
     &:hover{
       box-shadow: 0 0 2rem rgba($color-black,.2);
     }
  }
}
